WebAppSer/WebAppSer/Connected Services/ServiceReferenceHoras/WebServiceHoras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarTiem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Horas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdActiv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTiemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarTiemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarTiemSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTiem" />
  </wsdl:message>
  <wsdl:message name="InsertarTiemSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTiemResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceHorasSoap">
    <wsdl:operation name="InsertarTiem">
      <wsdl:input message="tns:InsertarTiemSoapIn" />
      <wsdl:output message="tns:InsertarTiemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceHorasSoap" type="tns:WebServiceHorasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarTiem">
      <soap:operation soapAction="http://tempuri.org/InsertarTiem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHorasSoap12" type="tns:WebServiceHorasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarTiem">
      <soap12:operation soapAction="http://tempuri.org/InsertarTiem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceHoras">
    <wsdl:port name="WebServiceHorasSoap" binding="tns:WebServiceHorasSoap">
      <soap:address location="http://localhost:51538/Servicios/WebServiceHoras.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHorasSoap12" binding="tns:WebServiceHorasSoap12">
      <soap12:address location="http://localhost:51538/Servicios/WebServiceHoras.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>