WebAppSer/WebAppSer/Connected Services/ServiceActividades/WebServiceTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="stInserAct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stInserActResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stInserActResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="stInserActSoapIn">
    <wsdl:part name="parameters" element="tns:stInserAct" />
  </wsdl:message>
  <wsdl:message name="stInserActSoapOut">
    <wsdl:part name="parameters" element="tns:stInserActResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTestSoap">
    <wsdl:operation name="stInserAct">
      <wsdl:input message="tns:stInserActSoapIn" />
      <wsdl:output message="tns:stInserActSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTestSoap" type="tns:WebServiceTestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stInserAct">
      <soap:operation soapAction="http://tempuri.org/stInserAct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTestSoap12" type="tns:WebServiceTestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stInserAct">
      <soap12:operation soapAction="http://tempuri.org/stInserAct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTest">
    <wsdl:port name="WebServiceTestSoap" binding="tns:WebServiceTestSoap">
      <soap:address location="http://localhost:51538/Servicios/WebServiceTest.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTestSoap12" binding="tns:WebServiceTestSoap12">
      <soap12:address location="http://localhost:51538/Servicios/WebServiceTest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>